body{
margin:0;
font-family:Arial;
background:black;
color:white;
}

/* fondo */

.overlay{

position:fixed;
top:0;
left:0;

width:100%;
height:100%;

background-size:cover;
background-position:center;

filter:blur(60px);
transform:scale(1.2);

z-index:-2;

}
.overlay::after{

content:"";

position:absolute;
top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.45);

}

body::before{

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:linear-gradient(
180deg,
rgba(0,0,0,.2),
rgba(0,0,0,.8)
);

z-index:-1;

}

/* intro */

#intro{

position:fixed;
top:0;
left:0;

width:100%;
height:100vh;

display:flex;
align-items:center;
justify-content:center;

background:black;

z-index:5;

overflow-y:auto;
padding:40px 20px;

transition:opacity 0.7s ease;

}

/* carta */

.carta{

max-width:560px;

width:90%;

text-align:center;

padding:40px 50px;

background:#111;

border-radius:12px;

animation:aparecer 1s ease;

position:relative;
z-index:2;

transition:transform 0.7s ease;

line-height:1.6;

}
#abrir{

margin-top:20px;

padding:12px 25px;

border:none;

background:#1db954;

color:white;

font-size:16px;

border-radius:30px;

cursor:pointer;

transition:.2s;

}

#abrir:hover{

transform:scale(1.05);

}

/* header playlist */

.header{

display:flex;
gap:30px;

padding:40px;

}

.playlist-cover{

width:200px;

}

.descripcion{

opacity:.8;

}

.meta{

opacity:.6;
font-size:14px;

}

/* buscador */

#buscar{

margin:20px 40px;

padding:10px;

width:300px;

background:#111;

border:none;

color:white;

}

/* encabezado tabla */

.cabecera{
display:grid;

grid-template-columns:
60px
50px
70px
2fr
1.5fr
150px
80px;

gap:18px;

padding:10px 25px;

margin-left:20px;

font-size:13px;

opacity:0.6;

border-bottom:1px solid rgba(255,255,255,0.1);

margin-bottom:10px;
}

.cabecera div:first-child{
text-align:right;
}




/* canciones */

.cancion{

display:grid;

grid-template-columns: 
60px
50px
70px
2fr
1.5fr
150px
80px;

align-items:center;

min-height:60px; 
gap:18px;

padding:8px 25px;



font-size:15px;

border-radius:6px;

transition:
opacity .35s ease,
transform .35s ease,
background .15s;

}

.cancion.oculta{

opacity:0;

transform:translateY(15px) scale(.98);

pointer-events:none;

}
.cancion:hover{
background:rgba(255,255,255,0.06);
cursor:pointer;
}

.cancion img{
width:48px;
height:48px;
object-fit:cover;
border-radius:4px;
}
.cancion div:nth-child(4),
.cancion div:nth-child(5){
line-height:1.2;
}

.cancion div:nth-child(4){
margin-bottom:2px;
}

.cancion div:nth-child(5){
opacity:.6;
}

.cancion div:first-child{
text-align:right;
opacity:0.6;
}

/* popup */
#reproductor{

position:fixed;
top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.9);

display:flex;
align-items:center;
justify-content:center;

z-index:10;

opacity:1;
transition:opacity .35s ease;

}

#reproductor.fadeout{

opacity:0;

}

.player{

text-align:center;

max-width:400px;

animation:popupOpen .35s ease;


}
.player.cerrar{

animation:popupClose .35s ease forwards;

}

.player img{

width:250px;

border-radius:10px;

}
.player.change{

animation:cambioCancion .35s ease;

}

@keyframes cambioCancion{

0%{

opacity:0;
transform:translateX(40px);

}

100%{

opacity:1;
transform:translateX(0);

}

}

#cerrar{

position:absolute;

top:20px;
right:20px;

background:none;

border:none;

color:white;

font-size:24px;

cursor:pointer;

}

#youtubeLink{

display:inline-block;

margin-top:20px;

padding:10px 20px;

background:#1db954;

border-radius:30px;

text-decoration:none;

color:white;

position:relative;
z-index:1;
}

/* flechas */

.nav{

position:fixed;

top:50%;

transform:translateY(-50%);

font-size:40px;

color:white;

background:rgba(0,0,0,.4);

border:none;

width:60px;
height:60px;

border-radius:50%;

cursor:pointer;

}

.left{ left:40px; }
.right{ right:40px; }

/* animaciones */

@keyframes aparecer{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0);
}

}

@keyframes popup{

from{
opacity:0;
transform:scale(.9);
}

to{
opacity:1;
transform:scale(1);
}

}

.oculto{
opacity:0;
pointer-events:none;
visibility:hidden;
}

.visible{
opacity:1;
pointer-events:auto;
visibility:visible;
}

#app{
opacity:0;
visibility:hidden;
transition:opacity 0.8s ease;
}

#app.visible{
opacity:1;
visibility:visible;
}

@keyframes fadePlaylist{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}

@keyframes popupOpen{

from{

opacity:0;
transform:scale(.85) translateY(20px);

}

to{

opacity:1;
transform:scale(1) translateY(0);

}


}

@keyframes popupClose{

from{
opacity:1;
transform:scale(1);
}

to{
opacity:0;
transform:scale(.8);
}

}

#nota{

opacity:0;

animation:mostrarNota 1s ease forwards;

animation-delay:.25s;

}

@keyframes mostrarNota{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}   

.fav-btn{
font-size:18px;
cursor:pointer;
opacity:0.6;
transition:0.2s;
}

.fav-btn:hover{
opacity:1;
transform:scale(1.15);
}

.fav-active{
color:#ff3b5c;
opacity:1;
}

.ambient{

box-shadow:
0 0 80px rgba(255,255,255,0.1),
0 0 200px rgba(255,255,255,0.05);

}

#aleatorio{
opacity:0.5;
transition:0.2s;
}

#aleatorio.activo{
color:#1db954;
opacity:1;
transform:scale(1.15);
}

#verFavoritas{
opacity:0.6;
transition:0.2s;
}

#verFavoritas.activo{
color:#ff3b5c;
opacity:1;
transform:scale(1.15);
}


.header{
position:relative;
}

.plataformas{

position:absolute;
top:20px;
right:20px;

display:flex;
gap:15px;

opacity:0.6;

}

.plataformas img{

width:28px;
cursor:pointer;
transition:0.25s;

}

.plataformas img:hover{

opacity:1;
transform:scale(1.15);

}
#intro.oculto{
opacity:0;
pointer-events:none;
}

@media (max-width:700px){

.header{
flex-direction:column;
align-items:center;
text-align:center;
}

.playlist-cover{
width:160px;
}

#buscar{
width:80%;
margin:auto;
display:block;
}

.cabecera{
display:none;
}

.cancion{

display:grid;

grid-template-columns: 30px 60px 1fr 35px;

grid-template-areas:
"num cover titulo fav"
"num cover artista fav";

gap:2px;                 /* menos separación vertical */

padding:8px 15px;        /* menos padding */

margin-left:0;

align-items:center;

}

/* numero */
.cancion div:nth-child(1){
grid-area:num;
text-align:right;
padding-right:10px; /* 👈 empuja el número a la izquierda */
opacity:0.6;
}

/* portada */
.cancion img{
grid-area:cover;
width:52px;
height:52px;


}


/* titulo */
.cancion div:nth-child(4){
grid-area:titulo;
margin-top:10px; /* 👈 ajusta esto */
font-size:15px;
font-weight:500;
}

.cancion div:nth-child(5){
grid-area:artista;
font-size:13px;
margin-top:2px; /* 👈 opcional */
opacity:.6;
}

/* ocultar album fecha duracion */
.cancion div:nth-child(6),
.cancion div:nth-child(7){
display:none;
}

/* corazon */
.fav-btn{
grid-area:fav;
justify-self:end;
font-size:18px;
}

.cancion div:nth-child(5){
display:none;
}

.player{

max-width:85%;

padding:20px;

background:#111;

border-radius:14px;

}

.player img{

width:200px;

}
}

.controles-playlist{

display:flex;
justify-content:center;
gap:20px;

margin-top:15px;
margin-bottom:10px;

font-size:20px;

}

.controles-playlist span{
cursor:pointer;
opacity:0.7;
transition:0.2s;
}

.controles-playlist span:hover{
opacity:1;
transform:scale(1.15);
}



